<launch>
    <node pkg="hbba_lite" type="test_arbitration_publisher.py" name="publisher_1" output="screen">
        <param name="rate" value="0.05"/>

        <remap from="cmd" to="publisher_1/cmd"/>
    </node>
    <node pkg="hbba_lite" type="test_arbitration_publisher.py" name="publisher_2" output="screen">
        <param name="rate" value="0.25"/>

        <remap from="cmd" to="publisher_2/cmd"/>
    </node>
    <node pkg="hbba_lite" type="test_arbitration_publisher.py" name="publisher_3" output="screen">
        <param name="rate" value="1"/>

        <remap from="cmd" to="publisher_3/cmd"/>
    </node>

    <node pkg="hbba_lite" type="arbitration_node" name="arbitration_node" output="screen">
        <rosparam param="topics">
            - name: publisher_1/cmd
              priority: 1
              timeout_s: 10.0
            - name: publisher_2/cmd
              priority: 2
              timeout_s: 2.0
            - name: publisher_3/cmd
              priority: 3
              timeout_s: 1.0
        </rosparam>
        <param name="latch" value="false"/>

        <remap from="out" to="cmd"/>
    </node>
</launch>
